{% if messages %}
    <!-- Message -->
    {% for message in messages %}
        <div class="container alert alert-dismissible shadow-sm fade show {{ message.tags }}" role="alert">
            <div class="container">
                {# message.level = DEBUG 10, INFO 20, SUCCESS 25, WARNING 30, ERROR 40 #}
                {% if message.level == 20 %}
                    <i class="bi bi-info-circle-fill"></i>
                {% elif message.level == 30 or message.level == 40 %}
                    <i class="bi bi-exclamation-triangle-fill"></i>
                {% elif message.level == 25 %}
                    <i class="bi bi-check-circle-fill"></i>
                {% endif %}
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}
{% endif %}





