<header class="navbar navbar-dark bg-dark border-bottom">

    <div class="d-flex flex-column flex-md-row container justify-content-center justify-content-md-between gap-3">


        <a class="navbar-brand" href="#">Controle de EPI</a>
        <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
            </ul>
        </div>
    </div>
</header>

<nav class="bg-white shadow-sm py-1 mb-3">
    <ul class="nav nav-pills flex-column flex-md-row justify-content-center">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">EPI</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Cadastro</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
</nav>

